.wrapper {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, auto) auto auto;
  place-items: center;

  overflow-y: visible;
  background-color: white;
}

.wrapper > * {
  grid-column: 2;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.personal > section:nth-of-type(1) {
  font-size: 2.5rem;
}

.personal ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1rem;
}

.display {
  margin-bottom: 1rem;
}

.display > div:first-of-type {
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  text-align: center;

  padding-bottom: 0.5rem;
}

.displayEducation {
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: minmax(35px, auto) minmax(35px, auto);
  align-items: center;
  column-gap: 1rem;

  border-bottom: 0.2px solid lightgray;
  padding-bottom: 0.2rem;

  font-size: 1.2rem;
}

.displayExperience {
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: minmax(35px, auto) minmax(35px, auto) minmax(35px, auto);
  align-items: center;
  column-gap: 1rem;

  border-bottom: 0.2px solid lightgray;
  padding-bottom: 1rem;

  font-size: 1.2rem;
}

.description {
  align-self: flex-start;
}

@media print {
  .wrapper {
    height: 80%;
  }
}
