/* Form Component */
.form {
  border: 0.5px solid black;
  padding: 1rem;

  background-color: white;

  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  animation-name: slideUp;
}

.educationForm > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 0.5rem;
}

.educationForm input {
  border-radius: 0.5rem;
  padding: 0.5rem;

  font-size: 1rem;
  border: none;
  border-radius: 5px;

  background-color: rgba(243, 244, 246);
}

.educationForm > .date {
  flex-direction: unset;
  gap: 6rem;
}

.date > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.educationForm textarea {
  padding: 0.5rem;
  resize: none;
}

/* Form Control */
.control {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;

  background-color: white;

  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  animation-name: slideUp;
}

.button {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 0.5rem;

  background-color: transparent;
  color: rgb(128, 128, 128);

  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button:nth-of-type(2) {
  margin-right: -14rem;
}

.button:nth-of-type(3) {
  background-color: rgb(60, 125, 237);
  color: white;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
